* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-image: url("./img/html_css_js.png");
    background-repeat: no-repeat;
    background-position: right 5% bottom 95%;
    background-position: cover;
}
section {
    padding-left: calc(10.7vw - 17.1px); /* 120px 23px */
    padding-bottom: calc(10.4vw + 26.6px);
}
.main_wrapper {
    padding-right: calc(6vw - 18.3px);
}
.logo {
    margin-top: calc(-0.3vw + 41.2px);
    width: calc(8.8vw + 181.8px);
}
.info {
    margin-top: calc(6.3vw + 4.3px);
    display: flex;
    flex-direction: row;
    gap: calc(14.4vw - 23.8px);
    flex-wrap: wrap;
}
h1 {
    font-family: 'Chava', sans-serif;
    font-size: calc(4.2vw + 26.2px);
    line-height: 110%;
    margin-top: calc(2.9vw + 38.6px);
}
.main_wrapper p {
    font-family: 'TT Hoves', sans-serif;
    font-size: calc(1vw + 14.2px) ;
    margin-top: calc(2.1vw + 13.3px);
    font-weight: 300;
    line-height: 140%;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: calc(1vw + 16.6px)
}

.buttons .get_course {
    color: white;
    background-color: #6E3ABA;
    width: 328px;
    height: 21px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 12px;
    border-color: #6E3ABA;
    font-size: 18px;
    font-weight: 500;
    line-height: 85%;
    text-align: center;


} 

.buttons .sign_up {
    color: #6E3ABA;
    background-color: white;
    width: 328px;
    height: 21px;
    padding-top: 20px;
    padding-bottom: 20px; 
    border-radius:  12px;
    border-color: #6E3ABA;
    font-size: 18px;
    font-weight: 500;
    line-height: 85%;
    text-align: center;


}

h2 {
    display: flex;
    flex-wrap: wrap;
    font-family: 'TT Hoves' , sans-serif;
    width: 769px;
    height: 136px;
    left: 120px;
    font-size: 58px;
    font-weight: 500;
    line-height: 85%;
    text-align: left;

}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px; 


}

.second_wrapper img{
    width: 210px;
    height: 210px;

}

.second_wrapper h3{
    width: 420px;
    height: 38px;
    font-family: 'TT Hoves' , sans-serif;
    font-size: 27px;
    font-weight: 600;
    line-height: 85%;

}

.second_wrapper p{
    font-family: 'TT Hoves' , sans-serif;
    font-size: 27px;
    line-height: 71%;
    margin-top: 20px;
    gap: 20px;
}